<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">WebVR Tutorial</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          VR Devices
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="rift">Oculus Rift</a>
          <a class="dropdown-item" routerLink="vive">HTC Vive</a>
          <a class="dropdown-item" routerLink="wmr">Windows Mixed Reality</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="gear">GearVR</a>
          <a class="dropdown-item" routerLink="oculusgo">Oculus Go</a>
          <a class="dropdown-item" routerLink="cardboard">Google Cardboard</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="resources" routerLinkActive="active">Resources</a>
      </li>

    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

