<div class="card">
  <img src="{{ headerImgLink }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-text">What is WebVR?</h3>
    <p class="card-text">{{ headerDescription }}</p>
  </div>
  <img src="{{ x3dImgLink }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-text">What is X3DOM?</h3>
    <p class="card-text">{{ x3dDescription }}</p>
  </div>
  <div class="card-body">
      <h3 class="card-text">Where can I learn more?</h3>
      <p class="card-text">{{ learnMore }}</p>
      <div class="list-group list-group-flush">
          <a class="list-group-item" href="https://webvr.info/">https://webvr.info/</a>
          <a class="list-group-item" href="https://www.x3dom.org/">https://www.x3dom.org/</a>
          <a href="https://github.com/x3dom/x3dom" class="list-group-item">https://github.com/x3dom/x3dom</a>
          <a href="https://github.com/x3dom/x3dom/tree/webVR" class="list-group-item">https://github.com/x3dom/x3dom/tree/webVR</a>
      </div>
    </div>
</div>